
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    /* overflow-x: hidden; */
    font-family: 'Lato', sans-serif;
    color:#505962;
    padding-top: 70px;
}
/* -- Navigation -- */

.navbar-brand img{
    /* width: 10%; */
    height: 3rem;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: rgba(0,0,0,0.6);
}
.navbar-nav li {
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
    color:white;
    padding-top: .8rem;

}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #1ebba3

}

#login, #upload {
    padding-bottom: 5px;
    padding-top: 5px;

}

/* -- nav bar -- */





 .row1{
    width: 100%;
    height: 300px;
    background-color: black;
    position: relative;
} 

.container-fluid {
    padding-left: 100px!important;
    padding-right: 100px!important;
    padding-top: 40px;
}
#videoPlayer{
    width: 750px;
    height: 450px;
    margin-left: 30px;
    border-radius: 5px;
    border: black 3px;
    /* min-width: 100%; 
    min-height: 100%; */
    /* width: auto; 
    height: auto; */
    margin-top: 0px!important;
}

video{
    width: 100%;
    height:100%
}

#video-row {
    margin-bottom: 40px;
}

#videoList{
    list-style: none;
    width: 80%;
    height: 400px;;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    border: solid 5px black;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: lightgray;
    margin-left: 55px;
    display: inline-grid;
    padding-left: 0px;
    word-break: break-all;

    
    /* margin-top: 0px!important; */
}

/* .listItem{
    display: inline;
    
} */

.trash{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    background-color: chartreuse;
    margin: 5px;
    
}
.listV{
    padding-right: 0px; 
        padding-left: 0px;
        text-align: center;
        justify-content: center;
}
/* --comment-- */

#container {
    margin-top: 40px;
    height: 350px;
}

.leave-comments {
    border: rgba(223, 158, 19, 0.1) solid 3px;
    border-radius: 30px;
    padding: 10px;
    width: 100%;
    word-wrap: break-all;
    margin-bottom: 10px;
    display: block;
    
}

#comment-area {
    border: none;
    resize: none;
    width: 100%
}

.reply-area {
    border: none;
    resize: none;
    width: 100%
}

.post-comment-btn {
    text-align: right;
}

#post-comment-btn {
    margin: 5px;
    width:10%;
    size: 50px;
}

.hide {
    display: none;
}

.show {
    transition: all 650ms ease-out;
    display: inline-block;
}

.comment-section {
    border: black solid 3px;
    border-radius: 30px;
    padding: 10px;
    width: 100%;
    word-wrap: break-all;
    margin-bottom: 10px;
    height: fit-content;

}

.replies-section {
    border: black solid 3px;
    border-radius: 30px;
    padding: 10px;
    width: 600px;
    word-wrap: break-all;
    margin-bottom: 10px;
    justify-self: right;
    margin-left:auto; 
    margin-right:0;
}

.comments{
    overflow-y: auto;
    height: 350px;
    display: block;
    min-width: 99%;
    /* inline-size: fit-content; */
}


.referring-comment {
    background-color: rgba(225, 222, 216, 0.92);
    border-left: black;
    margin: 0px 25px;
    /* margin-bottom: 8px; */
    padding-top: 5px;
}

.comment {
    word-wrap: break-word;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
}

.comment-footer {
    text-align: right;
    
}

.comment-footer img{
    margin: 5px;
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
    border-radius: 40%;
}

.text-area{
    border: 4px solid rgba(244, 164, 46, 0.5);
    border-radius: 15px;
    background-clip: padding-box;
}

.show-btn{
    font-size:15px;
}

.edit-btn {
    font-size: 15px;
    color: black;
    font-weight: 5px;
}

.trash-btn {
    font-size: 15px;
    color: black;
    font-weight: 5px;
}

.edit-time {
    color: grey;
    font-size: 12.5px;
}

.btn {
    padding-left: 2.5px;
    padding-right: 2.5px;
}



@media (max-width: 1800px) {
    #videoList{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    #videoPlayer {
        width: 650px;
        height: 450px;
        margin-left: 0px;
    }
    .container-fluid{
        justify-content: center;
    }
}
@media (max-width: 1100px) {

    #videoList{
        display: none;
        /* margin: 0px -15px 10px; */
        /* align-self: center; */
    }
    #videoPlayer {
        width: 650px;
        height: 450px;
        margin-left: 0px;
    }
    .container-fluid{
        justify-content: center;
    }
    .listV{
        padding-right: 0px; 
        padding-left: 0px;
        text-align: center;
        justify-content: center;
    }

}

@media (max-width: 750px) {

    #videoList{
        display: none;
        /* margin: 0px -15px 10px; */
        /* align-self: center; */
    }
    #videoPlayer {
        display: none;
    }
    .container-fluid{
        justify-content: center;
    }
}
