body {
    /* height: 30em; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0
}
/* 

@import "bootstrap/functions";

$custom-file-text: (
  en: "Browse",
  zh-TW: "xxxxx"
);

@import "bootstrap"; */
.undo{
  background-color: grey;
  color: white;
  font-size: 20px;
  padding: 4px;
  border-radius: 10%;
}
.btn_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}